<h4><%= end_user.name %>&nbsp;&nbsp;さんの投稿</h4>
<table class="table">
  <thead>
    <tr>
      <th>場所の名前</th>
      <th>いいね数</th>
      <th>おすすめ度</th>

    </tr>
  </thead>
  <tbody>
    <% spots.each do |spot| %>
      <tr>
        <td><%= link_to spot.name, public_spot_path(spot.id) %></td>
        <td><%= spot.favorites.count %> いいね</td>
        <td id="star-rate<%= spot.id %>"></td>
        <!--<td><%#= render 'public/spots/star_result' %></td>-->
      </tr>

      <script>
        $('#star-rate<%= spot.id %>').empty();
        $('#star-rate<%= spot.id %>').raty({
          size     : 36,
          starOff:  '<%= asset_path('star-off.png') %>',
          starOn : '<%= asset_path('star-on.png') %>',
          readOnly: true,

        score: <%= spot.star %>,
        scoreName: 'spot[star]',
          half: false,
        });
      </script>
    <% end %>
  </tbody>
</table>

