<div class="container">
  <div class="row mt-5">
    <div class="col4 offset-1">
      <h2>会員情報編集</h2>
    </div>
    <div class="col-7 text-right">
      <span> <%= link_to "退会する", public_unsubscribe_path(@end_user), class: "btn btn-danger" %></span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3"></div>
    <%= form_with model: @end_user, url: public_end_user_path(@end_user), method: :patch do |f| %>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :profile_image, "プロフィール画像" %>
        </div>
        <div class="col-md-8">
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :last_name, "名前(姓)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :last_name, placeholder:"山田" ,class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :first_name, "名前(名)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :first_name, placeholder:"とりっぴー" ,class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :introduction, "自己紹介文" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :introduction, placeholder:"よろしくお願いします。" ,class: "form-control" %>
        </div>
      </div>

      <div class="row m-5">
        <div class="col-md-12 text-center">
        <%= f.submit "編集完了",class: "btn btn-success"%>
        </div>
      </div>
    <% end %>
  </div>
</div>