<div class="container">
  <div class="row mt-5">
    <div class="col4 offset-1">
      <h2>会員情報編集</h2>
    </div>

    <strong class="col-md-4 text-center" style="color:#b22222;">
      <% if @end_user.errors.any? %>
        <%= @end_user.errors.count %>件のエラーが発生しました
    </strong>
    <strong class="col-md-4" style="color:#b22222;">
        <ul>
          <% @end_user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </strong>
  </div>

    <div class="col-md-9 text-right">
      <span></span>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-3"></div>
    <%= form_with model: @end_user, url: public_end_user_path(@end_user), method: :patch do |f| %>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :profile_image, "プロフィール画像" %>
        </div>
        <div class="col-md-8">
          <%= f.file_field :profile_image, accept: "image/*", class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :last_name, "名前(姓)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :last_name, placeholder:"山田" ,class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :first_name, "名前(名)" %>
        </div>
        <div class="col-md-8">
          <%= f.text_field :first_name, placeholder:"とりっぴー" ,class: "form-control" %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-md-4">
          <%= f.label :introduction, "自己紹介文" %>
        </div>
        <div class="col-md-8">
          <%= f.text_area :introduction, placeholder:"よろしくお願いします。" ,class: "form-control" %>
        </div>
      </div>

      <div class="row m-5">
        <div class="col-md-12 text-right">
        <%= f.submit "編集完了",class: "btn btn-success"%>
        &nbsp;&nbsp;&nbsp;
         <%= link_to "退会する", public_unsubscribe_path(@end_user), class: "btn btn-danger" %>
        </div>
      </div>
    <% end %>
  </div>
</div>