<div class ="row">
  <div>
    <p>コメント件数：<%= spot.comments.count %></p>
    <% spot.comments.each do |comment| %>
      <p><%= image_tag comment.end_user.get_profile_image(100,100) %></p>
      <%= comment.end_user.name %>
      <%= comment.created_at.strftime('%Y/%m/%d') %><%= comment.comment %>
    <% end %>
  </div>

  <div>
    <%= form_with model: [spot, comment], url: public_spot_comments_path(spot_id: spot.id) do |f| %>
      <%= f.text_area :comment, rows: '5', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
</div>

 <%#= form_with(model: [spot, comment], url: public_spot_comments_path(post_id: post.id), method: :post ) do |f| %>