<div class="container-md">
  <div class="row mt-5">
    <div class="col-md-3 offset-1">
      <h2>新規投稿</h2>
    </div>
     <strong class="col-md-4 text-center" style="color:#b22222;">
      <% if @spot.errors.any? %>
        <%= @spot.errors.count %>件のエラーが発生しました
    </strong>
    <strong class="col-md-4" style="color:#b22222;">
        <ul>
          <% @spot.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
    </strong>
  </div>

  <div class="row mt-3">
    <div class="col-3"></div>
      <%= form_with model:@spot, url: public_spots_path, local:true do |f| %>
      <div class="col9">

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <%= f.label :image, "場所の画像" %>
            </div>
            <div class="col-md-9">
              <%= f.file_field :image, accept: "image/*", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <%= f.label :name, "場所の名称" %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :name, placeholder:"場所の名称" ,class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <%= f.label :explanation, "場所の説明" %>
            </div>
            <div class="col-md-9">
              <%= f.text_area :explanation, placeholder:"ここに場所の説明文を記述します", class: "form-control" %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <%= f.label :prefecture_id,"都道府県" %>
            </div>
            <div class="col-md-9">
              <%= f.collection_select :prefecture_id, Prefecture.all, :id, :name, { include_blank: '--選択してください--'} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <%= f.label :address, "所在地" %>
            </div>
            <div class="col-md-9">
              <%= f.text_field :address, placeholder:"所在地を入力してください" ,class: "form-control" %>
            </div>
          </div>
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <%= f.label :genre_id,"ジャンル" %>
            </div>
            <div class="col-md-9">
              <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: '--選択してください--'} %>
            </div>
          </div>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-md-3">
              <p>公開設定</p>
            </div>
            <div class="col-md-2">
                <%= f.label :is_published_flag, "公開", value: true %>
            </div>
            <div class="col-md-2">
                <%= f.radio_button :is_published_flag, 'true' %>
            </div>
            <div class="col-md-3">
                <%= f.label :is_published_flag, "非公開", value: false %>
            </div>
            <div class="col-md-2">
                <%= f.radio_button :is_published_flag,'false' %>
            </div>

          </div>
        </div>

        <%= render 'star_form', f: f %>
        <!--<div class="form-group">-->
        <!--  <div class="row">-->
        <!--    <div class="col-md-3">-->
        <!--      <p>おすすめ度</p>-->
        <!--    </div>-->
        <!--    <div class="col-md-6 offset-1">-->
        <!--      <div class="row" id="star">-->
        <!--        <%#= f.label :star %>-->
        <!--        <%#= f.hidden_field :star, id: :review_star %>-->
        <!--      </div>-->
        <!--      <script>-->
        <!--        $('#star').empty();-->
        <!--        $('#star').raty({-->
        <!--          size     : 36,-->
        <!--          starOff:  '<%#= asset_path('star-off.png') %>',-->
        <!--          starOn : '<%#= asset_path('star-on.png') %>',-->

        <!--        scoreName: 'spot[star]',-->
        <!--          half: false,-->
        <!--        });-->
        <!--      </script>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--</div>-->

        <div class="form-group">
          <div class="row mt-3 mb-5">
            <div class="col-6 offset-3">
              <%= f.submit "投稿する",class: "btn btn-success"%>
           </div>
          </div>
        </div>

      <% end %>
      </div>
  </div>
</div>#