<div class="container">
  <div class="row mt-5">
    <div class="col text-center"><h2>みんなの投稿</h2></div>

    <div class="search_form col-md-9 text-right">
      <%= form_with url: admin_search_path, local: true, method: :get do |f| %>
        <%= f.text_field :name ,value: params[:name], placeholder:"🔍名称を入力" %>
        <%= f.select :prefecture_id, options_from_collection_for_select(Prefecture.all, :id, :name), { include_blank: '--都道府県--'}%>
        <%= f.select :genre_id, options_from_collection_for_select(Genre.all, :id, :name), { include_blank: '--ジャンル--'} %>
        <!--options_from_collection_for_selectの記述でプルダウンにデータが入る-->
        <%= f.submit "検索", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
  <div class="row mt-2">
    <%  @spots.each do |spot| %>
       <div class="spot_index col-md-3 p-2 text-center">
        <%= link_to admin_spot_path(spot) do %>
          <%= image_tag spot.get_image(200, 200) %><br>
          <%= spot.name %>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        いいね数 <%= spot.favorites.count %>
      </div>
    <% end %>
  </div>

  <div class="row my-md-2">
    <div class="col-md-5"></div>
    <div class="col-md-3">
      <%= paginate @spots %>
    </div>
  </div>
</div>